<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Administrar Clientes</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<style>
		.container-fluid{
			max-width: 1100px;
		}
	</style>
</head>
<body>
<div class="container-fluid text-center">
	<h1>Administrar Clientes</h1>
	<div class="mb-3">
		<a class="h3 link-primary" th:href="@{/clientes/nuevo}">Añadir cliente</a>
	</div>
	<div th:if="${message}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	<div th:if="${error}" class="alert alert-danger text-center">
		[[${error}]]
	</div>
	<div>
		<table class="table table-bordered">
			<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Ciudad</th>
				<th>Categoria</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
			<th:block th:each="cliente: ${listaClientes}">
				<tr>
					<!--/* otra forma sería: <td>th:text="${user.id}"</td> */-->
					<td>[[${cliente.id}]]</td>
					<td>[[${cliente.nombre}]]</td>
					<td>[[${cliente.apellido1}]] [[${cliente.apellido2}]]</td>
					<td>[[${cliente.ciudad}]]</td>
					<td>[[${cliente.categoria}]]</td>
					<td>
						<a class="btn btn-info btn-sm me-2" th:href="@{'/clientes/' + ${cliente.id}}">Ver detalles</a>
						<a class="btn btn-warning btn-sm me-2" th:href="@{'/clientes/editar/' + ${cliente.id}}">Editar</a>
						<a class="btn btn-danger btn-sm" th:href="@{'/clientes/eliminar/' + ${cliente.id}}">Eliminar</a>
					</td>
				</tr>
			</th:block>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>